In [9]:
import pandas as pd

In [10]:
file = '../data/beer_vectors.csv'

In [11]:
df = pd.read_csv(file, sep=';', names=["Beer", "Recomentation", "Score"])

/Users/kukkojoo/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (1,2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [12]:
print(df.shape)
df.head()

(1329412, 3)

     Beer Recomentation     Score
0  718897        718897         1
1  718897        944641  0.903871
2  718897        736746   0.88399
3  718897        743194  0.878836
4  718897        703704  0.877047

In [14]:
df = df[df.Beer == 718897]

In [15]:
print(df.shape)
df.head()

(1153, 3)

     Beer Recomentation     Score
0  718897        718897         1
1  718897        944641  0.903871
2  718897        736746   0.88399
3  718897        743194  0.878836
4  718897        703704  0.877047

In [16]:
with open("../data/beer_vectors.json", 'w') as f:
    f.write(df.to_json(orient="table"));

{"schema":{"fields":[{"name":"index","type":"integer"},{"name":"Beer","type":"integer"},{"name":"Recomentation","type":"string"},{"name":"Score","type":"string"}],"primaryKey":["index"],"pandas_version":"0.20.0"},"data":[]}